/*
Project Name: Relaxr
Client: NY tech startup
Author: Andrei Tjutrin
Developer @GA in LDN
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}


/******************************************
/* Cross-html page styles
/*******************************************/

/******************************************
/* Body styles
/*******************************************/
body {
  font-size: 12px
  line-height: 1.4;
  font-family: Open Sans;
  max-width: 900px;
  margin: 20px auto 0 auto;
}

.bodyindex {
  color: #000;
  background-size: cover;
}

.bodyblog {
  color: #000;
  background-size: cover;
  background-color: #f0efef;
}


/******************************************
/* Header and inside header styles
/*******************************************/
header {
  color: #E3E2E8;
 }

.headerblog {
  background-color: #033048;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation {
  float: right;
  width: 80%;
  padding-right: 5%;
  text-align: right;
}
.navigation ul {
   list-style: none;
   margin: 5px;
   padding: 0;
   font-size: 24px;
  }
.navigation ul li {
  display: inline;
  margin-left: 10px;
  font-weight: 600;
}

.navigation ul li a {
  color: #f9e42e;
  text-decoration: none;
}
.navigation ul li a:hover {
  color: green;
}

.h1blog {
  color: white;
  font-weight: 900;
  margin: 0;
  float: left;
  width: 20%;
  padding-left: 10%;
 }

/******************************************
/* Body section, articles, etc..
/*******************************************/

.blogmain1 {
  width: 80%;
  float: left;
  padding-left: 10%;
}

.blogmain1 img,
.blogmain3 img {
  width: 100%;
}

.blogmain1 a,
.blogmain3 a {
  display: block;
  text-align: right;
  text-decoration: none;
}

.blogmain1 a:hover,
.blogmain3 a:hover,
.blogmain4 a:hover {
  text-decoration: underline;
}

.blogmain2 {
  width: 20%;
  float: right;
  padding-right: 5%;
}
.blogmain2 ul {
   list-style: none;
   font-size: 24px;
   margin: 0;
   padding: 0;
}
.blogmain2 ul li a {
  text-decoration: none;
  }

.blogmain2 ul li a:hover {
  color: green;
}

.blogmain3 {
  width: 80%;
  float: left;
  clear: both;
  padding-left: 10%
}

.blogmain4 {
  width: 20%;
  float: right;
}

.blogmain4 img {
  width: 90%;
}


/******************************************
/* Text, font, color, etc.. related
/*******************************************/

h1 {
  font-size: 32px;
}
h2 {
    font-size: 24px;
}

h2,
h3 {
    font-weight: 600;
}

.h1index {
  padding-top: 10px;
  padding-bottom: 40px;
  text-indent: 80px;
  font-weight: 900;
}

h2 {
  text-align: center;
  letter-spacing: 1px;
}

h3 {
  text-align: left;
  font-size: 20px;
  color: #033048;
}

p,
ul li {
  color: #033048;
  font-size: 13px;
}

.quote {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  max-width: 260px;
  color: #AAA9BA;
  margin: 20px auto 0 auto;
}

.colorwhite {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

/******************************************
/* Layout, positioning
/*******************************************/


/******************************************
/* Button details
/*******************************************/

.button{
  padding: 6px;
  width: 130px;
  font-family: Verdana;
  text-align: center;
  background-color: yellow;
  margin: 0, auto;
  border-radius: 4px;
  border: none;
}

.button2{
  padding: 6px;
  width: 130px;
  font-family: Verdana;
  text-align: center;
  background-color: #000066;
  color: white;
  margin: 0, auto;
  border-radius: 4px;
  border: none;
}

.buttondiv {
margin:0 auto;
outline:none;
text-align:center;
}

.color {
  background-color: #121212;
  border-width: 0;
  padding: 13px; 
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


section,
article,
footer {
  padding: 10px;
}

.footer {
  background-color: #121212;
  color: #f9e42e;
  text-align: center;
}

.copyright {
  color: white;
  text-align: center;
  background-color: #121212;
  font-size: 9px;
}

.waves {
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  padding-bottom: 20px;
}

.middlebody {
  background-color: #f0efef;
  height: 220px;
}


.thirdbox {
  background-color: #f9e42e;
  padding: 20px;
  border-width: 2px;
  clear: both;
}

#container {
  width: 100%;h
  margin: auto;
  height: 400px;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
}





